    .container:nth-child(2) {
        margin: 0;
        background-color: rgb(205, 225, 243);
        height: 100vh;
        width: 100%;
    }
    
    .p1 {
        padding: 20px;
        color: rgb(150, 166, 221);
        font-size: 50px;
    }
    
    .cont {
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .card {
        padding: 20px;
        border-radius: 5px;
        border: 1px solid rgb(135, 135, 245);
        filter: drop-shadow(0.2em .2em .2em black);
        overflow: hidden;
        height: 290px;
    }
    
    .jumbotron {
        margin-bottom: 0;
        padding: 20px;
        background-color: rgba(152, 181, 233, 0.726);
    }
    
    hr {
        background-color: black;
        height: 2px;
    }